
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.


{deps, [
	{nklib, {git, "https://github.com/netcomposer/nklib", {branch, "v10"}}}
]}.

{pre_hooks, [{compile, "make version_header"}]}.

%% xref checks to run
{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.


